<div class="container">
  <div class"row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>
  <div class="form-group">
    <label for="inputTitle">Title</label><br/>
    <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title" %> <!--  input class="form-control"レイアウト -->
  </div>
  <div class="form-group">
    <label for="inputBody">Opinion</label><br/>
  <%= f.text_field :body, autofocus: true, id:"inputBody", placeholder:"Opinion"%>
  </div>
  <%= f.submit "Update Book",class: "btn btn-sm btn-success" %>
<% end %>
<%= link_to 'Show',book_path %>
|
<%= link_to 'Back',books_path %>
    </div>
  </div>
</div>

